.alert-container {
  position: absolute;
  top: 5%;
  right: 0;
  width: 30%;
  height: auto;
  z-index: 999999999;
}
.alert-container .alert {
  background-color: #F8D7DA;
  padding: 2rem;
  margin-bottom: 0.5rem;
  color: #c3091c;
  border: 2px solid #c10518;
}

.notifications {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 999;
  color: #333;
  border-radius: 4px;
  overflow: hidden;
}
.notifications .toast {
  width: 40rem;
  list-style: none;
  border-radius: 8px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background-color: white;
  justify-content: space-between;
  position: relative;
  animation: show_toast 0.3s ease forwards;
  overflow: hidden;
}
@keyframes show_toast {
  0% {
    transform: translate(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translate(0%);
  }
  100% {
    transform: translate(0);
  }
}
.notifications .toast .column i {
  font-size: 1.75rem;
}
.notifications .toast .column span {
  font-size: 16px;
  margin-left: 12px;
}
.notifications .toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 3s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.notifications .toast.success::before {
  background-color: #0ABF30;
}
.notifications .toast.success .column i {
  color: #0ABF30;
}

.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}

.invalid {
  display: none;
}

.valid {
  display: none;
}

.needs_validation .invalid {
  display: block;
  font-size: 1.2rem;
  color: lightcoral;
}

.mispedidos {
  overflow-x: auto;
}
.mispedidos .table {
  width: 100%;
  border-collapse: collapse;
}
.mispedidos .table thead {
  text-align: left;
  background-color: #585858;
}
.mispedidos .table thead tr,
.mispedidos .table tbody tr {
  border: 1px solid #272727;
}
.mispedidos .table th, .mispedidos .table td {
  padding: 2rem 3rem;
}
.mispedidos .table .link_detalle:hover {
  text-decoration: underline;
  cursor: pointer;
}
.mispedidos .table .link_detalle:hover a {
  display: block;
  width: 100%;
}
.mispedidos .table .state {
  padding: 0 0.8rem;
  border-radius: 0.6rem;
  display: inline-block;
  font-weight: bold;
  text-transform: capitalize;
  height: 3rem;
  line-height: 3.2rem;
}

.detalle .overflow {
  overflow-x: auto;
}
.detalle .back {
  color: lightblue;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 3rem;
}
.detalle .title {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.detalle p {
  color: #999;
  font-weight: bold;
  margin-bottom: 1rem;
}
.detalle p span {
  color: white;
}
.detalle .separator {
  margin: 4rem 0;
}
.detalle .state {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}
.detalle .table {
  width: 100%;
  border-collapse: collapse;
}
.detalle .table thead {
  text-align: left;
  background-color: #585858;
}
.detalle .table thead tr,
.detalle .table tbody tr {
  border: 1px solid #272727;
}
.detalle .table th, .detalle .table td {
  padding: 2rem 3rem;
}
.detalle .img {
  width: 15rem;
}
.detalle .img img {
  border-radius: 50%;
}
.detalle .total {
  color: rgb(224, 83, 83);
}
.detalle .flex {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/*# sourceMappingURL=styles.css.map */
